.user {
  flex: 4;
  padding: 20px;
}
.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.userContainer {
  display: flex;
  margin-top: 20px;
}

.userShow {
  flex: 1;
  padding: 20px;
  box-shadow: 8px 6px 23px -6px rgba(140, 125, 125, 0.88);
  -webkit-box-shadow: 8px 6px 23px -6px rgba(140, 125, 125, 0.88);
  -moz-box-shadow: 8px 6px 23px -6px rgba(140, 125, 125, 0.88);
  border-radius: 10px;
}
.userUpdate {
  flex: 2;
  padding: 20px;
  box-shadow: 8px 6px 23px -6px rgba(140, 125, 125, 0.88);
  -webkit-box-shadow: 8px 6px 23px -6px rgba(140, 125, 125, 0.88);
  -moz-box-shadow: 8px 6px 23px -6px rgba(140, 125, 125, 0.88);
  margin-left: 20px;
  border-radius: 10px;
}
.userShowTop{
    display: flex;
    align-items: center;
}

.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowTopTitleName{
font-weight: 600;
}

.userShowTopTitleJob{
font-weight: 300;
}

.userShowBottom{
    margin-top: 20px;
}
.userShowTitle{
    font-size: 16px;
    font-weight: 600;
    color: rgb(177, 176, 176);
}

.userShowInfoContainer{
 display: flex;
 align-items: center;
 margin: 20px 0px;
 color: #444;
}

.userShowIcon{
    font-size: 16px !important;
}
.userShowInfoTitle{
    margin-left: 10px;
}

.userUpdateTitle{}
.userUpdateForm{}
.userUpdateLeft{}
.userUpdateRight{}